# Dependencies
node_modules/
dist/
dist-ssr/

# Environment variables (IMPORTANTE!)
.env
.env.local
.env.*.local
.env.example        # opcional: alguns deixam no git, mas se quiser 100% seguro pode ignorar também

# Build e logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor e OS
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Vite cache
.vite/
